* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul[role="list"] {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;

  background: radial-gradient(50% 123.47% at 50% 50%, #00ff94 0%, #720059 100%),
  linear-gradient(121.28deg, #669600 0%, #ff0000 100%),
  linear-gradient(360deg, #0029ff 0%, #8fff00 100%),
  radial-gradient(100% 164.72% at 100% 100%, #6100ff 0%, #00ff57 100%),
  radial-gradient(100% 148.07% at 0% 0%, #fff500 0%, #51d500 100%);
  background-blend-mode: screen, color-dodge, overlay, difference, normal;

  display: grid;
  place-content: center;
}

main {
  background-color: #FFFFFF;
  padding: 3rem;
  width: 45rem;
  border-radius: 10px;

  .addTaskWrapper {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    position: relative;

    label {
      background-color: white;
      color: #bab7b7;
      position: absolute;
      top: 1rem;
      left: 1rem;
      z-index: 1;
      transition: 0.2s ease;
    }

    input:focus ~ label {
      color: #3B71CA;
      top: -8px;
      left: 8px;
      padding-inline: 5px;
      font-size: 0.8em;
    }

    input {
      width: 100%;
      padding-left: 1rem;
      border-radius: 5px;
      outline: none;
      border: 2px solid #bab7b7;
      font-size: 1em;
      position: relative;
    }

    input::placeholder {
      display: none;
      color: transparent;
    }

    input:focus {
      border: 2px solid #3B71CA;
    }

    #addNewTask {
      background-color: #2b90b2;
      color: white;
      transition: .5s;
      padding: 1rem 2rem;
      cursor: pointer;
      border-radius: 5px;
      border: none;
      font-size: 1em;
      font-weight: 700;
      letter-spacing: 1px;
      outline: none;
    }

    #addNewTask:hover, #addNewTask:focus {
      background-color: #1e6982;
    }
  }

  
  section {

    .filterTasks {
  
      ul[role="list"] {
        display: flex;
        margin-block: 1rem 2rem;
  
        /* CLASSE JS */
        li.underline {
          border-bottom: 2px solid #3B71CA;
        }
  
        li {
          color: #1266F1;
          padding: 1rem;
          font-size: 0.9em;
          font-weight: 400;
          letter-spacing: 0.4px;
          transition: .2s;
          cursor: pointer;
  
          &:hover {
            background-color: #e1e4e6;
          }
        }
  
      }
  
    }

    & > ul[role="list"] {

      .task + .task { 
        margin-top: 1.4rem;
      }

      .task {
        background-color: #F4F6F7;
        padding-left: 2.3rem;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: .5s;
        cursor: pointer;
        color: #656a6d;
        position: relative;

        &:hover {
          background-color: #ddd;
        }

        span:not(.delete) {
          flex: 1;
        }

        .delete {
          padding: 1rem;
          cursor: pointer;
          transition: .4s;
          border-radius: 0px 5px 5px 0px;
          border: none;
          background-color: transparent;

          &:hover {
            background-color: #ef6868;
            color: white;
          }
        }

      }

      /* CLASS JS */
      .checked {
        background-color: #a2a2a2;
        color: white;
      }
      .checked:hover {
        background-color: #a2a2a2;
      }
        
      .checked::before {
        content: '';
        position: absolute;
        border-color: #fff;
        border-style: solid;
        border-width: 0 2px 2px 0;
        top: 13px;
        left: 17px;
        transform: rotate(45deg);
        height: 15px;
        width: 7px;
      }
        
      .checked span {
        text-decoration: line-through;
      }

      .checked button {
        color: white;
      }

    }

  }

}